
<h2 id="title">Welcome to the Tudor Tutor</h2>
  {{#if session.isAuthenticated}}
    <li><button {{action "logout"}}>Logout</button></li>
  {{else}}
    <li>{{link-to 'Login' 'login'}}</li>
    <li>{{link-to 'Signup' 'signup'}}</li>
  {{/if}}
{{outlet}}
<a href="login" class="btn btn-default">Login</a>
<a href="#" class="btn btn-primary">Primary</a>
<a href="#" class="btn btn-success">Success</a>
<a href="#" class="btn btn-info">Info</a>
<a href="#" class="btn btn-warning">Warning</a>
<a href="#" class="btn btn-danger">Danger</a>
<a href="#" class="btn btn-link">Link</a>